/*
 * Dependencies.
 */
@import '../../../../../wp-sharks-core/src/client-s/css/bourbon/bourbon';
@import '../../../../../wp-sharks-core/src/client-s/css/admin/mixins/fields';
@import '../../../../../wp-sharks-core/src/client-s/css/admin/mixins/dashicons';
@import '../../../../../wp-sharks-core/src/client-s/css/jquery-plugins/jsgrid/enhancements';
@import '../../../../../wp-sharks-core/src/vendor/websharks/sharkicons/src/sharkicons';
@include sharkicons-font('../../../../../wp-sharks-core/src/vendor/websharks/sharkicons/src');
@include sharkicon-short-classes;

/*
 * Meta section styles.
 */
.rsxqjzypgdqmrnnkkkrmgshvnnnkzzvu-product-meta {
  > h3 {
    margin:                   9px 0;
    padding:                  5px 9px;
    font-size:                14px;
  }

  .-permissions-grid.jsgrid {
    @include wp-admin-field-standards;
    @include jquery-jsgrid-enhancements;

    .jsgrid-grid-header,
    .jsgrid-grid-body {
      border-top-color:       transparent;
      border-left-color:      transparent;
      border-right-color:     transparent;
    }

    .jsgrid-grid-body {
      border-bottom-color:    transparent;
    }
  }
}
