/*
 * Dependencies.
 */
@import '../bourbon/bourbon';
@import '../../../vendor/websharks/sharkicons/src/sharkicons';
@include sharkicons-font('../../../vendor/websharks/sharkicons/src');
@import '../../../vendor/websharks/wp-sharks-core/src/client-s/css/admin/mixins/links';
@import '../../../vendor/websharks/wp-sharks-core/src/client-s/css/admin/mixins/lists';
@import '../../../vendor/websharks/wp-sharks-core/src/client-s/css/admin/colors/fields';
@import '../../../vendor/websharks/wp-sharks-core/src/client-s/css/admin/mixins/fields';
@import '../../../vendor/websharks/wp-sharks-core/src/client-s/css/admin/mixins/dashicons';
@import '../../../vendor/websharks/wp-sharks-core/src/client-s/css/admin/mixins/jquery-chosen/fields';

/*
 * Built-in meta box.
 */
$hidden-div-border-color: #ececec;

/*
 * Built-in meta box.
 */
#slugdiv.postbox {
  > .hndle .-label {
    float:                    right;
    opacity:                  0.5;
  }

  > .inside {
    @include wp-admin-field-standards('>');
  }
}

/*
 * Prefixed meta boxes.
 */
.postbox[id^='fdbmjuxwzjfjtaucytprkbcqfpftudyg'] {
  > .hndle .-label {
    float:                    right;
    opacity:                  0.5;
  }

  > .inside {
    > .-about {
      @include wp-admin-dashicon(info);

      &::before {
        float:                right;
        font-size:            5em;
      }
    }

    > .-about,
    > .-meta {
      &,
      .-section {
        @include wp-admin-list-enable('>');

        > h4,
        > p,
        > ol,
        > ul {
          @include wp-admin-links;

          margin:             1em 0;

          &:first-child {
            margin-top:       0;
          }

          &:last-child {
            margin-bottom:    0;
          }
        }
      }

      .-heading {
        margin-bottom:        0;

        + .-field {
          margin-top:         0;
        }
      }

      .-field {
        @include wp-admin-field-standards('>');
        @include jquery-chosen-wp-admin-field-standards;

        > textarea {
          white-space:        pre;
          overflow:           auto;
        }
      }

      &.-uri-patterns {
        .-syntax-examples,
        .-syntax-tips {
          ul {
            margin-top:      .5em;
          }

          em {
            font-size:        105%;
            font-weight:      500;
            font-style:       normal;
            font-family:      monospace;
          }
        }

        .-syntax-examples {
          padding-left:       0;
          margin-left:       .5em;
          list-style-type:    none;
        }
      }

      .-hidden {
        display:              none;

        &.-section {
          margin-top:         1em;
          padding-top:        1em;
          border-top:         1px solid $hidden-div-border-color;
        }
      }
    }
  }
}
